@{
    ViewBag.Title = "Index";
}
<div class="wrapper2">
    <h1 class="heading">About Us</h1>
    <img alt="The Legacy Building" src="~/Content/Images/LegacyStudiosBuilding.jpg" width="300" class="right" />
    <p>
        Legacy Studios is fast becoming one of Dublin's best rehearsal studio spaces.
        In business now 8 years, it has become a home for great Irish music as well a much needed pre-production venue for <br />
        International touring acts.
        <br />It also acts as a TV/Film/Music Video Shoot Location. Everybody from The Jesus and Mary
        Chain to recent chart dominating acts such as Mark Ronson as well as TnaG, RTE, Sony Music,
        Universal Music and Rubyworks Records as well as various TV and Film Production Companies have used the facilities over the years.
        <br />Legacy Studios is proud to announce the recent launch  of one of the largest fully professional 24 track recording studios in the city.
        <br />Incorporating a beautiful acoustically designed 1000 SQ ft Live room with 14ft high ceiling, an array of the best analogue
        outboard and valve microphones, acoustically engineered mixing room, vocal booth and 2 iso booths,
        Legacy Studios is fast gaining a reputation as one of the best places to record in the Country.
        <br />See Legacy Recording Studios page to make a booking.<br /><br /><br />
        Legacy Studios is unique in that it offers 24 hour access, 7 days a week with plenty of free parking, free wifi and
        chill out room as well as full kitchen and dining areas. Located a short walk from Dublin City Centre with no stairways,
        it is ideal for load in/load outs from gigs and events in the city.
        <br /><br />Legacy Studios has become a breeding ground for some of the best new talent to come out of Ireland.
        Huge congratulations to some of our clients that are currently enjoying International success.
        These include: Girlband (Rough Trade Records),Otherkin(Rubyworks Records), Red Enemy(Mediaskare Records)
        Meltybrains(Atc Management),Spies(Trout Records) as well as countless other future successes in the making.
    </p>
</div>