body {
    background-color: #1D191A;
    font-family: Lato;
    font-size: 23px;
}

#wrapper {
    width: 100%;
    margin: 0px;
}

.wrapper2 {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.welcomehall {
    text-align: center;
    font-size: 70px;
    padding-top: 80px;
    border-bottom: white solid 15px;
    /* height:300px;
    background: url('~/Content/Images/darkroom.jpg') no-repeat 0 -80px;*/
}

.big {
    text-align: center;
    font-size: 80px;
    padding-top: 80px;
    /* height:300px;
    background: url('~/Content/Images/darkroom.jpg') no-repeat 0 -80px;*/
}

.heading {
    font-size: 40px;
    text-shadow: 2px 2px #9b1515;
}

.formText {
    font-size: 40px;
    font-family: Calibri;
}

.editText {
    width: 42%;
    height: 30px;
}

.myButton {
    -moz-box-shadow: inset 0px 1px 0px 0px #f5978e;
    -webkit-box-shadow: inset 0px 1px 0px 0px #f5978e;
    box-shadow: inset 0px 1px 0px 0px #f5978e;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
    background: -moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background: -webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background: -o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background: -ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background: linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
    background-color: #f24537;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #d02718;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #810e05;
}

    .myButton:hover {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
        background: -moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
        background: -webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
        background: -o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
        background: -ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
        background: linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);
        background-color: #c62d1f;
    }

    .myButton:active {
        position: relative;
        top: 1px;
    }


.contactForm {
    margin: 80px;
}

.StandardParagraph {
    padding: 20px;
    margin: 20px;
}

.standardInput {
    width: 500px;
}

header {
    height: 180px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 10px;
    color: #7E2123;
    text-align: left;
}

#newslettersignup {
    float: left;
    background: #9b1515;
    color: white;
    padding: 0px 18px;
    margin: 20px 0px 20px 5px;
    width: 6%;
    font-size: 15px;
    opacity: .7;
}

#loginbutton {
    float: right;
    background: #9b1515;
    color: white;
    padding-right: 10px;
    margin: 20px 5px 20px 0px;
    width: 6%;
    font-size: 20px;
    opacity: .7;
}

.right {
    float: right;
    margin: 5px;
}

footer {
    text-align: center;
}



main {
    background-color: #F29715;
    color: white;
    min-height: 350px;
    height: auto;
    margin: 0px;
    text-align: center;
}


nav {
    height: 145px;
    padding-top: 0.5px;
    padding-bottom: 15px;
    margin-bottom: 100px;
}

    nav ul {
        list-style-type: none;
        padding-top: 60px;
        text-align: center;
    }

        nav ul li {
            display: inline-block;
        }

            nav ul li a:link {
                color: darkslategray;
                text-decoration: none;
            }

/*nav ul li a:visited {
                color: darkblue;
            }*/
/Styling second level list/
nav li ul {
    display: none;
    position: absolute;
}

nav ul li a {
    text-align: center;
    color: #F29715;
    font-size: 18px;
    padding: 40px;
    margin: 0px 15px;
    background: #9b1515;
    color: #F29715;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    opacity: .70;
}

    nav ul li a:hover {
        text-align: center;
        color: #9b1515;
        font-size: 18px;
        background-color: #F29715;
        transition: .2s ease-out;
    }

.newline::after {
    content: "\A";
    white-space: pre;
}

.clear {
    clear: both;
}


/*** HomePage ****/




/*** STUDIOS ****/
#bookNowButton {
    margin: 30px 425px 30px auto;
}
