@{
    ViewBag.Title = "Index";
}
<div class="wrapper2">
    <h2 class="welcomehall">Welcome to <br /> LEGACY STUDIOS </h2>
    <p class="StandardParagraph">
        Legacy Studios provide high quality rehearsal studios for musicians of all musical persuasions. <br />
        Widely being dubbed "the absolute slickest place in Dublin to make creamy music",
        Legacy studios offers more than just impeccable quality rooms.<br /><br /><br />
        Using new software developed by SPK Ltd, Legacy Studios users can now book their favourite studios online -
        choosing your desired times and submitting payment - all accomplished within a few clicks!
    </p>
</div>